import s from "./{{camelCase title}}.module.sass"

const {{properCase title}} = () => {

    return (
        <div className = { s.{{camelCase title}} }>

        </div>
    )
}

export default {{properCase title}}